body {
  background-image: image-url('sunset_road.jpg');
  background-size: cover;
}

.rides-container {
  float: left;
  text-align: center;
  width: 70%;
  height: 666px;
}

.rides-list {
  background-color: rgba(0, 0, 0, 0.20);
  border-radius: 20px;
  color: white;
  text-shadow: 0px 0px 5px black;
  text-align: left;
  width: 90%;
  height: 560px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: scroll;
}

.rides-list a, .rides-list a:visited {
  color: inherit;
  text-decoration: none;
}

.single-ride__list {
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  padding-bottom: 20px;
  font-size: 120%;
  font-family: 'Merriweather', serif;
}

.rides-container__list-item--title {
  font-style: italic;
  color: #FF0000;
  font-size: 125%;
}

.rides-container__list-item--title:hover {
  color: orange;
}

.site-header {
  display: inline;
  font-family: 'Racing Sans One', cursive;
  font-size: 400%;
  color: red;
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255, 165, 0, 0.9);
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}

.navigation {
  float: left;
  width: 28%;
  height: 600px;
  flex-direction: column;
}

.navigation__add-ride {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  background-color: rgba(50, 90, 230, 0.40);
  overflow-y: scroll;
}

.navigation__new-ride-link {
  display: block;
  font-size: 350%;
  line-height: 200px;
  text-align: center;
  font-family: 'Racing Sans One', cursive;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 0px 20px rgba(255, 0, 0, 0.8);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.navigation__center-box {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
}

.box--slideshow_image_1 {
  width: 100%;
  height: 100%;
}

.box--slideshow_image_2 {
  width: 100%;
  height: 100%;
  display: none;
}

.box--slideshow_image_3 {
  width: 100%;
  height: 100%;
  display: none;
}

.box--slideshow_image_4 {
  width: 100%;
  height: 100%;
  display: none;
}

.box--slideshow_image_5 {
  width: 100%;
  height: 100%;
  display: none;
}

.box--slideshow_image_6 {
  width: 100%;
  height: 100%;
  display: none;
}

.box--slideshow_image_7 {
  width: 100%;
  height: 100%;
  display: none;
}

.box--slideshow_image_8 {
  width: 100%;
  height: 100%;
  display: none;
}

.box--slideshow_image_9 {
  width: 100%;
  height: 100%;
  display: none;
}

.box--slideshow_image_10 {
  width: 100%;
  height: 100%;
  display: none;
}

.new-ride-form {
  background-color: rgba(15, 15, 15, 0.5);
  overflow-y: scroll;
}

.new-ride-form h3 {
  color: white;
  text-shadow: 0px 0px 5px rgba(255, 0, 0, 0.5);
}

.new-ride-form input {
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: black;
  color: red;
  border: 1px solid red;
}

.new-ride-form select {
  background-color: black;
  color: red;
  border: 1px solid red;
}

.new-ride-form__submit {
  font-size: 100%;
  padding: 3px;
  font-weight: bold;
}

.new-ride-form__city {
  width: 75px;
}

.new-ride-form__state {
  width: 30px;
}

#star-rate {
  margin-right: 10px;
  color: white;
  text-shadow: 0px 0px 5px rgba(255, 0, 0, 0.5);
}

#star-one input, #star-two input, #star-three input, #star-four input, #star-five input{
  opacity: 0;
}

#star-one, #star-two, #star-three, #star-four, #star-five {
  color: white;
  cursor: pointer;
}

.map-item {
  margin: 20px;
}

.map {
  display: none;
}

.rides-container__map-toggle {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: black;
  color: orange;
  border: 1px solid orange;
  font-style: italic;
  box-shadow: 0 0 5px;
  cursor: pointer;
}

.rides-container__map-toggle:hover {
  color: #FFB833;
}

.rides-container__map-toggle:focus {
  outline: 0;
}

.rides-container__map-toggle:active {
  box-shadow: 0 0 0;
  transform: translateY(2px);
}











