body {
  background-image: url('sunset_road.jpg');
  background-size: cover;
}

.rides-container {
  float: left;
  width: 74%;
  height: 666px;
  overflow-y: scroll;
}

.rides-list {
  background: rgba(255, 255, 255, 0.70);
  border-radius: 20px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.single-ride__list {
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  padding-bottom: 20px;
}

.site-header {
  color: white;
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  float: left;
  width: 24%;
  height: 666px;
  flex-direction: column;
  border: 1px solid red;
}

.navigation__registration {
  width: 100%;
  height: 220px;
  border: 1px solid blue;
}

.navigation__login {
  width: 100%;
  height: 220px;
  border: 1px solid green;
}

.navigation__center-box {
  width: 100%;
  height: 220px;
  border: 1px solid black;
  overflow-y: scroll;
  /*IDEA: Images can be people on motorcycles...it'll 'scroll' through...fade from one image to the next*/
}





