
<div class="rides-container">
  <h1 class="site-header"><%= link_to image_tag('ride_reviews_logo.png', size: "390x100"), rides_path %></h1>
  <div class="rides-list">
    <%= render 'rides/all_rides' %>
  </div>
</div>